{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for value in obj %}
            <div class="detail">
                <div class="container-img">
                    <img class="img" src="{{ value.picture }}" alt="photo"/>
                </div>
                <div class="text">
                    <h3> {{ value.firstname }} {{ value.lastname }}</h3>
                    <span>{{ value.description }}</span>
                    <p>Date de naissance : {{ value.dateOfBirth | date('d-m-Y') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | About us
{% endblock %}

